.ProductCard {
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;

  .card-content {
    cursor: pointer;
  }

  .card-check {
    background: #fff;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      cursor: pointer;
    }
  }
}
